{
  "extends": [
    "xo",
    "prettier",
    "eslint:recommended"
  ],
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "printWidth": 90
      }
    ]
  },
  "plugins": [
    "prettier"
  ]
}
